body {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
  }
  .world {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #eb2627;
    z-index: -1;
  }
  canvas {
    display: block;
  }
