<nav class="main-nav">
  <div class="main-nav-inner">
    <a href="/red-sheep/" class="nav-logo">
      <img src="images/red-sheep-logo-dark.svg" alt="Red Sheep Logo" class="logo-img" />
    </a>
    <div class="nav-links">
      <a href="/red-sheep/work.html" class="nav-link">
        <span class="nav-label">Work</span>
        <span class="l"></span>
        <span class="r"></span>
      </a>
      <a href="/red-sheep/about.html" class="nav-link">
        <span class="nav-label">About</span>
        <span class="l"></span>
        <span class="r"></span>
      </a>
      <a href="/red-sheep/services.html" class="nav-link">
        <span class="nav-label">Services</span>
        <span class="l"></span>
        <span class="r"></span>
      </a>
      <a href="/red-sheep/contact.html" class="nav-link">
        <span class="nav-label">Contact</span>
        <span class="l"></span>
        <span class="r"></span>
      </a>
    </div>
  </div>
</nav>
